

  <h2><%=heading %></h2>
    
    
    <p class="h4">This page is EJS file and this is <%=whichpage %>. <br> 
        The header and footer are from partial. Also this content is from partial folder.<br>
        Here is text chapter made in project.js file which is different in every page: <%=text %>.
    </p>
    </div>
  </div>
  
