<div style="margin-left: 20px;">
    <h1>Project 2</h1>
        <p>You can continue what you like to do.</p>
    </div>
    <hr>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Main page</a></li>
      <li><a href="/jokeapi">External API joke</a></li>
      <li><a href="/local">Local file jokes</a></li>
      <li><a href="/ilma">Weather</a></li>
    </ul>
  </div>
</nav>
<div style="margin-left: 20px">
 <div class="text-center">
   <body>